---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="/img/profile.jpg"
			alt="Arnab Dey Profile"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="About Me" />
			<p class="about__text">
				I am a Software Engineer with expertise in Cloud Architecture and DevOps practices. Currently pursuing a Master's in Information Technology and working on developing scalable cloud solutions. My experience includes working with Azure Cloud, Kubernetes, Docker, and modern web technologies. I'm passionate about creating efficient, scalable systems and automating development workflows.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
